h1.head-endereco{
	display:none;
}

div.frm_rua{
	display:none;
}

div.frm_numero{
	display:none;
}

div.frm_complemento{
	display:none;
}

div.frm_Bairro{
	display:none;
}

div.frm_estados{
	display:none;
}

div.frm_uf{
	display:none;
}

